# Pandasâ€™ groupby explained in detail

In [14]:
import pandas as pd

order_leads = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/order_leads.csv',
    parse_dates = [3]
)
sales_team = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/sales_team.csv',
    parse_dates = [3]
)
df = pd.merge(
  order_leads,
  sales_team,
  on=['Company Id','Company Name']
)
df = df.rename(
  columns={'Order Value':'Val','Converted':'Sale'}
)

In [29]:
print(order_leads.shape)
print(order_leads.columns)
print(order_leads[4600:4601])

(100000, 6)
Index(['Order Id', 'Company Id', 'Company Name', 'Date', 'Order Value',
       'Converted'],
      dtype='object')
              Order Id        Company Id          Company Name       Date  \
4600  PSINYSWOF4QCEOMT  O1841IASYGLHJND5  Dimensional Nitrogen 2014-03-07

      Order Value  Converted
4600         1129          1

In [30]:
print(sales_team.shape)
print(sales_team.columns)
print(sales_team[4600:4601])

(4619, 4)
Index(['Sales Rep', 'Sales Rep Id', 'Company Name', 'Company Id'], dtype='object')
          Sales Rep      Sales Rep Id              Company Name  \
4600  Larita Foster  1B0G0B2JUKVI08RI  Congressional Projectile

            Company Id
4600  9T1RDKA3QF9PRYKW

In [19]:
df.shape

(100000, 8)

In [31]:
df[4600:4601]

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
4600,PSINYSWOF4QCEOMT,O1841IASYGLHJND5,Dimensional Nitrogen,2014-03-07,1129,1,Edward Morano,L90GS2FUPGVQXAY7

In [34]:
df[df['Company Name']=='Dimensional Nitrogen']

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
4594,MD5YH10AWJCMF57T,O1841IASYGLHJND5,Dimensional Nitrogen,2017-05-07,2855,0,Edward Morano,L90GS2FUPGVQXAY7
4595,UFZUNYSNNHNBNYJA,O1841IASYGLHJND5,Dimensional Nitrogen,2018-08-15,5803,0,Edward Morano,L90GS2FUPGVQXAY7
4596,C3B0B2E1N1UIU4KX,O1841IASYGLHJND5,Dimensional Nitrogen,2014-12-10,2769,0,Edward Morano,L90GS2FUPGVQXAY7
4597,QTGOKOQQ9YKAHDCP,O1841IASYGLHJND5,Dimensional Nitrogen,2015-10-01,8701,0,Edward Morano,L90GS2FUPGVQXAY7
4598,JFBSACDE7ACIQN22,O1841IASYGLHJND5,Dimensional Nitrogen,2014-05-15,5054,0,Edward Morano,L90GS2FUPGVQXAY7
4599,QIP3ZCXAXIOUQ721,O1841IASYGLHJND5,Dimensional Nitrogen,2016-01-11,3850,0,Edward Morano,L90GS2FUPGVQXAY7
4600,PSINYSWOF4QCEOMT,O1841IASYGLHJND5,Dimensional Nitrogen,2014-03-07,1129,1,Edward Morano,L90GS2FUPGVQXAY7
4601,39BCX8TAPN3JR5T8,O1841IASYGLHJND5,Dimensional Nitrogen,2014-11-20,3015,0,Edward Morano,L90GS2FUPGVQXAY7
4602,FM14A6FQKYQZ2EEW,O1841IASYGLHJND5,Dimensional Nitrogen,2018-12-07,6162,1,Edward Morano,L90GS2FUPGVQXAY7
4603,4S1ADR692YSRNNE2,O1841IASYGLHJND5,Dimensional Nitrogen,2018-08-12,3956,0,Edward Morano,L90GS2FUPGVQXAY7
4604,JUTTKD5F1UDFP060,O1841IASYGLHJND5,Dimensional Nitrogen,2018-10-15,8855,0,Edward Morano,L90GS2FUPGVQXAY7
4605,ORICM5D7LRSF5OVV,O1841IASYGLHJND5,Dimensional Nitrogen,2018-05-11,7004,0,Edward Morano,L90GS2FUPGVQXAY7
4606,9EUHIYYVMJTVJN30,O1841IASYGLHJND5,Dimensional Nitrogen,2014-09-23,4073,0,Edward Morano,L90GS2FUPGVQXAY7
4607,2Z8YD1OHSO5GL28N,O1841IASYGLHJND5,Dimensional Nitrogen,2018-01-01,275,0,Edward Morano,L90GS2FUPGVQXAY7
4608,4WJE6H1CTM9P4JEQ,O1841IASYGLHJND5,Dimensional Nitrogen,2017-08-16,1114,0,Edward Morano,L90GS2FUPGVQXAY7
4609,12C15CQO20DJJTCL,O1841IASYGLHJND5,Dimensional Nitrogen,2016-05-25,1842,0,Edward Morano,L90GS2FUPGVQXAY7