# Exercise for midterm preparation
Instructions:

1. This exercise contains 3 questions:

* 2 questions about aggregating and summarising time series data, and 

* 1 question about calculating Non-Cumulative into a new column from cumulative values.

2. Try to complete these exercise problems  by yourself.

3. Solutions to the problems are given below.

In [1]:
import pandas as pd

## Working with datetime in Pandas DataFrame

In Pandas DataFrame, working with datetime

We will go over the following frequent datetime issues in this part, which should get you started with data analysis.

1. Convert dates and times from strings.

2. Create a datetime by combining numerous columns.

3. Get the year's week, day of the week.

### Convert dates and times from strings.

To convert strings to datetime, Pandas comes with a built-in method named to `datetime()`. Let's look at a few examples.

#### With the default parameters

Without any further parameters, Pandas to datetime() can convert any valid date string to a datetime. Consider the following scenario:

In [2]:
df = pd.DataFrame({'date': ['3/09/2022', '3/10/2022', '3/11/2022'],
                   'value': [2, 4, 8]})
df['date'] = pd.to_datetime(df['date'])
df

        date  value
0 2022-03-09      2
1 2022-03-10      4
2 2022-03-11      8

### Format to suit your needs

Your strings may be in a unique format, such as YYYY-DD-MM HH:MM:SS, for example. The `format` argument in Pandas to `datetime()` allows you to pass a custom format:

In [3]:
df = pd.DataFrame({'date': ['2022-09-3', '2022-10-3', '2022-11-3'],
                   'value': [2, 4, 8]})

df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m")
df

        date  value
0 2022-03-09      2
1 2022-03-10      4
2 2022-03-11      8

In [4]:
df = pd.DataFrame({'date': ['2022 09 3', '2022 10 3', '2022 11 3'],
                   'value': [2, 3, 4]})

df['date'] = pd.to_datetime(df['date'], format="%Y %d %m")
df

        date  value
0 2022-03-09      2
1 2022-03-10      3
2 2022-03-11      4

#### Create a datetime by combining multiple columns.

The function `to_datetime()` can also be used to create a datetime from a collection of columns. The keys (column labels) can be abbreviations of ['year','month', 'day'].

In [5]:
df = pd.DataFrame({'year': [2022, 2021],
                   'month': [1, 2],
                   'day': [15, 16]})
df['date'] = pd.to_datetime(df)
df

   year  month  day       date
0  2022      1   15 2022-01-15
1  2021      2   16 2021-02-16

#### Determine the year, month, and day.

The built-in characteristics `dt.year`, `dt.month`, and `dt.day` are used to get the year, month, and day from a Pandas datetime object.

In [6]:
df = pd.DataFrame({'date': ['2022 09 3', '2022 10 3', '2022 11 3'],
                   'value': [2, 3, 4]})

df['date'] = pd.to_datetime(df['date'], format="%Y %d %m")

df['year']= df['date'].dt.year
df['month']= df['date'].dt.month
df['day']= df['date'].dt.day
df

        date  value  year  month  day
0 2022-03-09      2  2022      3    9
1 2022-03-10      3  2022      3   10
2 2022-03-11      4  2022      3   11

We are going to use data from Yahoo Finance databases. The data set consists,

* Open and close are the prices at which a stock began and ended trading in the same period. 

* Volume is the total amount of trading activity.

We load the data and also use `parse_dates= ['Date']`
to specify a list of date columns.

In [7]:
url = 'https://raw.githubusercontent.com/pairote-sat/SCMA248/main/Data/yahoo_stock.csv'
df = pd.read_csv(url)

#df = pd.read_csv('/Users/Kaemyuijang/SCMA248/Data/yahoo_stock.csv',parse_dates = ['Date'])

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1091)>

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1825 non-null   datetime64[ns]
 1   High       1825 non-null   float64
 2   Low        1825 non-null   float64
 3   Open       1825 non-null   float64
 4   Close      1825 non-null   float64
 5   Volume     1825 non-null   float64
 6   Adj Close  1825 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 99.9 KB

**Exercise** write a python code to calculate the average yearly high, low, open, close and volumn.

In [56]:
# Add your code here:

**Exercise** write a python code to calculate the average quarterly high, low, open, close and volumn.

In [56]:
# Add your code here:

## Calculating Non-Cumulative into a new column from cumulative values

Suppose that we have a series of cumulative values with a timestamp. We would like to get Python to show the non-cumulative values as shown below in the last column.

In [48]:
df = pd.DataFrame({'date': ['3/09/2022', '3/10/2022', '3/11/2022', '3/12/2022'],
                   'cumulative_value': [2, 4, 8, 15]})
df['date'] = pd.to_datetime(df['date'])
df

        date  cumulative_value
0 2022-03-09                 2
1 2022-03-10                 4
2 2022-03-11                 8
3 2022-03-12                15

In [44]:
df['noncumulative_value'] = [2,2,4,7]
df

        date  cumulative_value  noncumulative_value
0 2022-03-09                 2                    2
1 2022-03-10                 4                    2
2 2022-03-11                 8                    3
3 2022-03-12                15                    7

**Exercise** Write a python code to create a column of non-cumulative values shown above.

In [47]:
# Here we first drop the noncumulative_value column.

df.drop(['noncumulative_value'],axis = 1,inplace=True)
df

        date  cumulative_value
0 2022-03-09                 2
1 2022-03-10                 4
2 2022-03-11                 8
3 2022-03-12                15

In [56]:
# Add your code here:

## Solutions to exercise problems

**Exercise** write a python code to calculate the average yearly high, low, open, close and volumn.

**Solution** we can use the `pd.Grouper` function and the updated agg function to aggregatie and summarise data.

#### pd.Grouper

The function `pd.Grouper` is useful when working with time-series data.

##### Year-based grouping

We will use 

`pd.Grouper(key=INPUT COLUMN>, freq=DESIRED FREQUENCY>)`

in the following example to group our data depending on the supplied frequency for the specified column. 

The frequency in our situation is 'Y,' and the relevant column is 'Date.'

In [25]:
df.groupby(pd.Grouper(key='Date',freq='Y')).mean()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-12-31,2072.024664,2048.042302,2061.825136,2058.875660,3.593263e+09,2058.875660
2016-12-31,2102.493832,2082.798118,2093.452849,2093.592565,3.920366e+09,2093.592565
2017-12-31,2453.631583,2441.352216,2447.547878,2448.491076,3.399288e+09,2448.491076
2018-12-31,2760.626739,2728.128138,2745.848932,2743.891290,3.626960e+09,2743.891290
2019-12-31,2923.954243,2899.792422,2911.631296,2913.895471,3.553994e+09,2913.895471
2020-12-31,3184.745498,3130.553108,3160.341503,3159.985474,5.000890e+09,3159.985474

In [24]:
((df[df['Date'] <= '2015-12-31'])['Close']).mean()

2058.875660431691

#### Quarter or other frequency grouping

Different standard frequencies, such as 'D','W','M', or 'Q', can be used instead of 'Y.'

**Exercise** write a python code to calculate the average quarterly high, low, open, close and volumn.

In [26]:
df.groupby(pd.Grouper(key='Date',freq='Q')).mean()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-12-31,2072.024664,2048.042302,2061.825136,2058.875660,3.593263e+09,2058.875660
2016-03-31,1964.934285,1935.597145,1951.661427,1952.453953,4.582622e+09,1952.453953
2016-06-30,2083.341771,2063.419239,2074.964738,2074.080992,3.910602e+09,2074.080992
2016-09-30,2167.638709,2152.447491,2160.367405,2160.912499,3.488674e+09,2160.912499
2016-12-31,2192.357178,2177.917948,2185.075657,2185.176617,3.706660e+09,2185.176617
2017-03-31,2328.875228,2316.056779,2322.374108,2324.068555,3.537906e+09,2324.068555
2017-06-30,2402.197354,2389.173503,2396.404501,2396.013173,3.609076e+09,2396.013173
2017-09-30,2470.405759,2459.073255,2464.184976,2465.394369,3.162825e+09,2465.394369
2017-12-31,2609.776829,2597.814352,2603.950851,2605.212957,3.292639e+09,2605.212957
2018-03-31,2751.427566,2714.169561,2732.261209,2733.328784,3.820737e+09,2733.328784
2018-06-30,2716.273636,2689.574058,2704.490224,2703.624938,3.506044e+09,2703.624938
2018-09-30,2856.118896,2838.882945,2846.352507,2848.501308,3.131578e+09,2848.501308
2018-12-31,2718.004777,2669.163473,2699.546851,2689.442831,4.052378e+09,2689.442831
2019-03-31,2728.918986,2703.315782,2713.702021,2720.398101,3.808037e+09,2720.398101
2019-06-30,2893.877908,2870.759132,2881.391438,2883.981526,3.494911e+09,2883.981526
2019-09-30,2972.139022,2943.321204,2961.400221,2958.075328,3.480864e+09,2958.075328
2019-12-31,3096.314243,3077.186757,3085.400001,3088.595313,3.437045e+09,3088.595313
2020-03-31,3099.395253,3031.551661,3070.627149,3067.750657,5.161383e+09,3067.750657
2020-06-30,2951.992182,2897.477477,2926.822410,2926.956044,5.906476e+09,2926.956044
2020-09-30,3335.077499,3289.834438,3315.334990,3316.410114,4.276552e+09,3316.410114
2020-12-31,3481.154910,3435.751766,3457.495285,3458.181152,4.405317e+09,3458.181152

**Exercise** Write a python code to create a column of non-cumulative values shown above.

In [47]:
# Here we first drop the noncumulative_value column.

df.drop(['noncumulative_value'],axis = 1,inplace=True)
df

        date  cumulative_value
0 2022-03-09                 2
1 2022-03-10                 4
2 2022-03-11                 8
3 2022-03-12                15

To get the non-cumulative values, we simply take the time lag of numbers in the cumulative column using the `shift` function and then calculating the difference between cumulative and lag.

In [49]:
df.head()

        date  cumulative_value
0 2022-03-09                 2
1 2022-03-10                 4
2 2022-03-11                 8
3 2022-03-12                15

In [54]:
df['lag'] = df.cumulative_value.shift(1).fillna(0)
df['noncumulative_value'] = df.cumulative_value - df.lag

df

        date  cumulative_value  lag  noncumulative_value
0 2022-03-09                 2  0.0                  2.0
1 2022-03-10                 4  2.0                  2.0
2 2022-03-11                 8  4.0                  4.0
3 2022-03-12                15  8.0                  7.0